
<div data-role="appbar">
    <a href="#" class="brand no-hover">
        <span style="width: 60px;">
            <span class="mif-chat-bubble-outline mif-4x fg-green center"></span>
        </span>
    </a>
    
    <ul class="app-bar-menu">
        <li><a href="#"><b><%=user.name %></b></a></li>
        <li class="divider bg-lightGray"></li>
        <li><a href="/logout">Sign out</a></li>
     
    </ul>
</div>