<% include ../header %>

<style>
    .center-content {
        top: 50%;
        margin-top: 110px;
    }

   
   
</style>

<div class="container-fluid">

    <div class="grid">

        <div class="row">
            <div class="cell">
                <div> <% include ../menu %></div>
            </div>
         
        </div>
        
        <div class="center-content">
            <div class="row">
                <div class="cell">
                    <form action="/contact/<%- id %>?_method=put" class="inline-form" data-role="validator" >
                        <input type="text" name="contact[name]" placeholder="Name" data-validate="required minlength=3" value="<%- user.name %>">
                        <input type="text" name="contact[email]" placeholder="Email" data-validate="required email"  value="<%- user.email %>">
                        <button class="button success">Update</button>&nbsp;
                        <a class="button" href="/contacts" role="button">Back</a>
                    </form>
                </div>
            </div>

            
        </div>
    </div>
       
</div>


<% include ../footer %>